@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.bg-success,
.btn-success {
  background-color: #99c110 !important;
}

.text-success {
  color: #99c110 !important;
}

.bg-orange,
.btn-orange {
  background-color: #ffb400;
}

.text-orange {
  color: #ffb400;
}

.container {
  text-align: center;
}

.resorts-carousel {
  overflow: hidden;
}

.resorts-list {
  display: flex;
  transition: transform 0.5s ease;
}

.resort-item {
  flex: 0 0 33.33%;
  padding: 20px;
}

@media (max-width: 768px) {
  .resort-item {
    flex: 0 0 50%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .resort-item {
    flex: 0 0 100%;
    padding: 20px;
  }
}

.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: none;
}

.carousel-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30vh;
}

.carousel-button {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.prev-button {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin-right: 10%;
}

.next-button {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.limegreen-button {
  background-color: limegreen;
  color: white;
}

.gray-button {
  background-color: gray;
  color: white;
}

.prev-button {
  left: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 3%;
}

.next-button {
  right: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  width: 3%;
}

#list {
  padding-top: 8%;
}

#list a {
  text-decoration: none;
  color: black;
}

.ResortSelect {
  color: rgba(128, 128, 128, 0.658);
}
