@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover,
button:active {
  transform: translateY(-2px);
}

.bg-success,
.btn-success {
  background-color: #99c110 !important;
}

.text-success {
  color: #99c110 !important;
}

.btn-success:hover {
  border-color: #99c110 !important;
}

.bg-orange,
.btn-orange {
  background-color: #ffb400;
}

.text-orange {
  color: #ffb400;
}

.form-label {
  font-size: 1rem !important;
  text-align: left !important;
  font-weight: normal;
}

.container {
  text-align: center;
}

.form-container {
  margin: 0 auto;
  width: 600px;
  max-width: 96%;
}

.message_popup {
  width: fit-content;
  border-left-width: 4px !important;
  animation: slide-left 300ms ease-out forwards;
}

.custom-spinner {
  background: rgba(3, 0, 31, 0.775);
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.resorts-carousel {
  overflow: hidden;
}

.resorts-list {
  display: flex;
  transition: transform 0.5s ease;
}

.resort-item {
  flex: 0 0 33.33%;
}

.resort-image {
  width: 100% !important;
  overflow: hidden;
}

.resort-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .resort-item {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .resort-item {
    flex: 0 0 100%;
  }
}

.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: none;
}

.carousel-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30vh;
}

.carousel-button {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin-right: 10%;
}

.next-button {
  right: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.next-button,
.prev-button {
  width: 30px;
  z-index: 100;
}

.limegreen-button {
  background-color: limegreen;
  color: white;
}

.gray-button {
  background-color: gray;
  color: white;
}

#list a {
  text-decoration: none;
  color: black;
}

.ResortSelect {
  color: rgba(128, 128, 128, 0.658);
}
